<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Document</title>
</head>
<body>
<div class="card gray-bg">
    <div class="inner-card">
        <div class="left">
            <div class="top-left">
                <div class="logo">
                    <img src="{{ism}}" alt="ISM"/>
                </div>
                <div class=" etablissement bold">{{etablis}}</div>
            </div>
            <div class="main">
                <div class="main-info">
                    <p class=" bold font-slg">{{institut}}</p>
                </div>
                <div class="main-details">
                    <span class="font-lg bold">{{nom}}</span>
                    <span class="font-slg bold">{{prenom}}</span>

                    <span class=" naiss">{{naiss}}</span>

                    <span class="bold">Etudiant(e)</span>
                    <span class="bold">Grade: {{grade}}</span>
                    <span class="bold">Matricule: {{matricule}}</span>
                    <p class="bold">Classe: {{classe}}</p>
                </div>
                <div class="footer font-md">
                    <div>
                        {{adresse}}
                    </div>
                    <div>
                        {{tel}}

                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="student-photo">
                <div class="photo">
                    <img src="{{photo}}" width="100%" height="100%" alt="ISM"/>
                </div>
            </div>
            <div class="annee-academique bold">
                <p><span class="font-md-sup">Annee scolaire</span>
                    <span class="font-slg">{{annee}}</span></p>

            </div>


        </div>
    </div>
</div>

<div class="card font-slg secondary-bg bold second-card">
    <div class="back-card">
        <div class="back-card__top">
            <div class="qr-code">
                <div class="">
                    <img src="{{qr}}" alt="ISM"/>
                </div>
            </div>
            <div class="box di-box">
                <p>DI 1</p>
                <p class="font-sm">05/09/2023</p>
            </div>
            <div class="box di-box">
                <p>DI 2</p>
                <p class="font-sm">05/10/2023</p>
            </div>
            <div class="box di-box">
                <p>DI 3</p>
                <p class="font-sm">05/11/2023</p>
            </div>
            <div class="box di-box">
                <p>DI 4</p>
                <p class="font-sm">05/12/2023</p>
            </div>
        </div>
        <div class="back-card__bottom">
            <div class="box versement-box">
                <p>V1</p>
                <p class="font-sm">05/09/2023</p>
            </div>
            <div class="box versement-box">
                <p>V2</p>
                <p class="font-sm">05/10/2023</p>
            </div><div class="box versement-box">
                <p>V3</p>
                <p class="font-sm">05/11/2023</p>
            </div>
            <div class="box versement-box">
                <p>V4</p>
                <p class="font-sm">05/12/2023</p>
            </div>
            <div class="box versement-box">
                <p>V5</p>
                <p class="font-sm">05/01/2024</p>
            </div>
            <div class="box versement-box">
                <p>V6</p>
                <p class="font-sm">05/02/2024</p>
            </div>
            <div class="box versement-box">
                <p>V7</p>
                <p class="font-sm">05/03/2024</p>
            </div>
            <div class="box versement-box">
                <p>V8</p>
                <p class="font-sm">05/04/2024</p>
            </div>
            <div class="box versement-box">
                <p>V9</p>
                <p class="font-sm">05/05/2024</p>
            </div>
            <div class="box versement-box">
                <p>V10</p>
                <p class="font-sm">05/06/2024</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>